#favorites{
    /* border: solid black 5px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
    min-height: 65vh;
    max-width: 100vw;
    background-color: rgb(240, 240, 240);
}

.favorites {
    /* border: red solid 3px; */
    height: 200px;
    width: 200px;
    margin: 20px;
}

#no-favorites{
    margin: auto;
    /* min-height: 65vh; */
}