.App {
  text-align: center;
  min-height: 95vh;
}

.App-header {
  display: flex;
  /* flex-direction: row; */
  /* align-items:initial; */
  justify-content:space-between ;
  margin: 10px 10px;
  font-size: calc(10px + 2vmin);
}

#buttons{
  display: flex;
  justify-content: space-between;
}

Button{
  margin: 5px 10px;
}