#search{
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    background-color: rgb(240, 240, 240); 

}

#search-group{
    width: 70%;
    margin: 20px;
}

#search-button {
    margin: 0;
}

#current-position-button{
    height: fit-content;
    align-self: center;
    /* background-color: rgb(255, 137, 27); */
}

#dropdown{
    z-index: 1;
    position: absolute;
    width: 60%;
    margin-top: -20px;
    margin-left: 30px;
    border-radius: 10px;
}

.dropdown-item{
    border: 1px solid black;
    text-align: left;
    background-color: white;
}